<div id="ecoGuidaMenuHeader" class="panel panel-default" style="position: absolute;right: 0px;left: 0px;border-radius: 0px;">
	<div class="panel-heading" style="padding: 0px 10px;height: 52px; border: none;">
        <b style="line-height: 52px;color: #333;">{{menuHeaderTitle}}</b>
    </div>
</div>

<div id="ecoGuidaMenuInner" class="commonHalfMenuInner">
	{{ramanzina1}}<br>
	{{ramanzina2}}<br>
	{{ramanzina3}}<br>
	{{ramanzina4}}<br>
	{{ramanzina5}}
	
	<ul id="carModelsList"></ul>
	<div id="carModelDiv">
		<div id="carModel"></div>
		<input type="button" value="Modifica" onclick="EcoGuida.getCarBrands();">
	</div>
	<ul id="deviceList"></ul>
	<input id="refreshBtn" type="button" value="Refresh">
	<input id="disconnectBtn" type="button" value="Disconnect">
	<select id="command" name="command" style="font-size:20px">
		<option value="010D">Speed</option>
		<option value="010B">Intake manifold absolute pressure</option>
		<option value="010F">Intake air temperature</option>
		<option value="0110">Mass air flow</option>
	</select>
	<div id="message" style="font-size:20px"></div>
</div>