<div id="healthCareMenuHeader" class="panel panel-default" style="position: absolute;right: 0px;left: 0px;border-radius: 0px;">
    <div id="healthCareMenuExpandHandler" class="grippyContainer grippyContainer-horizontal" style="text-align: center;">
        <div class="grippy grippy-horizontal"></div>
    </div>
    <div class="panel-heading" style="padding: 0px 10px;height: 52px; border: none;">
        <a class="pull-right" onclick="HealthCare.hide();">
            <i class="glyphicon glyphicon-remove"
               style="float: right; padding-left: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a id="healthCareMenuExpand" class="pull-left" onclick="HealthCare.expandHealthCare();">
            <i class="glyphicon glyphicon-plus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a id="healthCareMenuCollapse" class="pull-left" onclick="HealthCare.collapseHealthCare();">
            <i class="glyphicon glyphicon-minus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <b style="line-height: 52px;color: #333;">{{menuHeaderTitle}}</b>
    </div>
</div>

<div id="healthCareMenuInner" class="commonHalfMenuInner">
    {{ datiAnagrafici.name }}
	<fieldset>
	<legend>{{fieldset_characteristics}}</legend>
	{{#datiAnagrafici}}
		{{^inModification}}
			{{fs_char_sex}}: {{ sex }}
			{{fs_char_weight}}: {{ weight }}
			<br>
			{{fs_char_age}}: {{ age }}
			{{fs_char_height}}: {{ height }}
			<a class="pull-right" onclick="HealthCare.switchUpdateDatiAnagrafici(true);">
				<i class="glyphicon glyphicon-pencil" style="float: right; color: #777; line-height: 52px;"></i>
			</a>
		{{/inModification}}
		{{#inModification}}
			<form name="datiAnagraficiForm" method="post" action="javascript: HealthCare.updateDatiAnagrafici();">
				{{fs_char_name}}: <input name="name" value="{{ name }}"></input>
				{{fs_char_sex}}:
				<select name="sex" id="sex">
					{{#sexOptions}}
						<option name="{{key}}" {{selected}}>{{value}}</option>
					{{/sexOptions}}
				</select>
				{{fs_char_weight}}: <input name="weight" value="{{ weight }}"></input>
				<br>
				{{fs_char_age}}: <input name="age" value="{{ age }}"></input>
				{{fs_char_height}}: <input name="height" value="{{ height }}"></input>
				<button onclick="HealthCare.switchUpdateDatiAnagrafici(false);">{{cancelButton}}</button>
				<button type="submit">{{modifyButton}}</button>
			</form>
		{{/inModification}}
	{{/datiAnagrafici}}
	</fieldset>
	<fieldset>
	<legend>{{hints}}</legend>
	{{hint}}
	</fieldset>
</div>