<div id="healthCareMenuHeader" class="panel panel-default" style="position: absolute;right: 0px;left: 0px;border-radius: 0px;">
    <div class="panel-heading" style="padding: 0px 10px;height: 52px; border: none;">
        <b style="line-height: 52px;color: #333;">{{menuHeaderTitle}}</b>
    </div>
</div>

<div id="healthCareMenuInner" class="commonHalfMenuInner">
	{{^showMap}}
    {{ datiAnagrafici.name }}
	<div class="panel-heading">{{fieldset_characteristics}}</div>
	<div class="panel-body">
	{{#datiAnagrafici}}
		{{^inModification}}
		<div class="col-xs-12">
			<a class="pull-right" onclick="HealthCare.switchUpdateDatiAnagrafici(true);">
				<i class="glyphicon glyphicon-pencil" style="float: right; color: #777; line-height: 52px;"></i>
			</a>
		</div>
		{{/inModification}}
		
			<form name="datiAnagraficiForm" method="post" action="javascript: HealthCare.updateDatiAnagrafici();">
			{{#inModification}}
			<div class="row">
				<div class="col-xs-6">{{fs_char_name}}: </div><div class="col-xs-6"><input id="name" value="{{ name }}"></input></div>
			</div>
			{{/inModification}}
			<div class="row">
				<div class="col-xs-6">{{fs_char_sex}}: </div>
				<div class="col-xs-6">
				{{^inModification}}{{ sexDescr }}{{/inModification}}
				{{#inModification}}
				<select id="sex">
					{{#sexOptions}}
						<option value="{{key}}" {{selected}}>{{value}}</option>
					{{/sexOptions}}
				</select>
				{{/inModification}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">{{fs_char_weight}}: </div>
				<div class="col-xs-6">
				{{^inModification}}{{ weight }}{{/inModification}}
				{{#inModification}}<input id="weight" value="{{ weight }}"></input>{{/inModification}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">{{fs_char_age}}: </div>
				<div class="col-xs-6">
				{{^inModification}}{{ age }}{{/inModification}}
				{{#inModification}}<input id="age" value="{{ age }}"></input>{{/inModification}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">{{fs_char_height}}: </div>
				<div class="col-xs-6">
				{{^inModification}}{{ height }}{{/inModification}}
				{{#inModification}}<input id="height" value="{{ height }}"></input>{{/inModification}}
				</div>
			</div>
			{{#inModification}}
			<div class="row">
				<div class="col-xs-6"><button onclick="HealthCare.switchUpdateDatiAnagrafici(false);return false;">{{cancelButton}}</button></div>
				<div class="col-xs-6"><button type="submit">{{modifyButton}}</button></div>
			</div>
			{{/inModification}}
			</form>
	{{/datiAnagrafici}}
	</div>
	<div class="panel-heading">{{hints}}</div>
	<div class="panel-body">
	{{hint}}
	</div>
	{{/showMap}}
	<div class="panel-heading">{{healthAction}}</div>
	<div class="panel-body">
	<form>
	<select id="healthActions" onchange="HealthCare.loadHealthAction();">
		<option></option>
		{{#healthOptions}}
			<option value="{{key}}" {{selected}}>{{value}}</option>
		{{/healthOptions}}
	</select>
	</form>
	{{healthHint}}
	</div>
</div>