<div ng-controller="HealthCareCtrl">
<div id="healthCareMenuHeader" class="panel panel-default" style="position: absolute;right: 0px;left: 0px;border-radius: 0px;">
	<div ng-show="showMap" id="healthCareMenuExpandHandler" class="grippyContainer grippyContainer-horizontal" style="text-align: center;">
        <div class="grippy grippy-horizontal"></div>
    </div>
    <div class="panel-heading" style="padding: 0px 10px;height: 52px; border: none;">
        <a ng-show="showMap" class="pull-right" onclick="hide();">
            <i class="glyphicon glyphicon-remove"
               style="float: right; padding-left: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a ng-show="showMap" id="healthCareMenuExpand" class="pull-left" onclick="expandHealthCare();">
            <i class="glyphicon glyphicon-plus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a ng-show="showMap" id="healthCareMenuCollapse" class="pull-left" onclick="collapseHealthCare();">
            <i class="glyphicon glyphicon-minus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <b style="line-height: 52px;color: #333;">{{menuHeaderTitle}}</b>
    </div>
</div>

<div id="healthCareMenuInner" class="commonHalfMenuInner">
    {{ datiAnagrafici.name }}
	<div ng-show="!showMap" class="panel-heading">{{fieldset_characteristics}}</div>
	<div ng-show="!showMap" class="panel-body">
		<div ng-show="datiAnagrafici && !datiAnagrafici.inModification" class="col-xs-12">
			<a class="pull-right" ng-click="switchUpdateDatiAnagrafici(true);">
				<i class="glyphicon glyphicon-pencil" style="float: right; color: #777; line-height: 52px;"></i>
			</a>
		</div>
		
		<form name="datiAnagraficiForm" method="post" ng-action="updateDatiAnagrafici();">
		<div ng-show="datiAnagrafici && datiAnagrafici.inModification" class="row">
			<div class="col-xs-6">{{fs_char_name}}: </div><div class="col-xs-6"><input id="name" value="{{ name }}"></input></div>
		</div>
		
		<div ng-show="datiAnagrafici && datiAnagrafici.inModification" class="row">
			<div class="col-xs-6"><button ng-click="switchUpdateDatiAnagrafici(false);">{{cancelButton}}</button></div>
			<div class="col-xs-6"><button type="submit">{{modifyButton}}</button></div>
		</div>
		</form>
	</div>
	<div ng-show="!showMap" class="panel-heading">{{hints}}</div>
	<div ng-show="!showMap" class="panel-body">
	{{hint}}
	</div>
	<div class="panel-heading">{{healthAction}}</div>
	<div class="panel-body">
	<form>
	<select ng-options="healthOption as healthOption.value for healthOption in healthOptions" ng-model="selectedHealthOption" id="healthActions" ng-change="loadHealthAction();">
		<option></option>
	</select>
	</form>
	{{healthHint}}
	</div>
</div>
</div>