<div ng-controller="HealthCareCtrl">
<div id="healthCareMenuHeader" class="panel panel-default" style="position: absolute;right: 0px;left: 0px;border-radius: 0px;">
	<div ng-show="showMap" id="healthCareMenuExpandHandler" class="grippyContainer grippyContainer-horizontal" style="text-align: center;">
        <div class="grippy grippy-horizontal"></div>
    </div>
    <div class="panel-heading" style="padding: 0px 10px;height: 52px; border: none;">
        <a ng-show="showMap" class="pull-right" onclick="hide();">
            <i class="glyphicon glyphicon-remove"
               style="float: right; padding-left: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a ng-show="showMap" id="healthCareMenuExpand" class="pull-left" onclick="expandHealthCare();">
            <i class="glyphicon glyphicon-plus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <a ng-show="showMap" id="healthCareMenuCollapse" class="pull-left" onclick="collapseHealthCare();">
            <i class="glyphicon glyphicon-minus" style="padding-right: 8px; color: #777; line-height: 52px;"></i>
        </a>
        <b style="line-height: 52px;color: #333;">{{menuHeaderTitle}}</b>
    </div>
</div>

<div id="healthCareMenuInner" class="commonHalfMenuInner">
    
	
	
	{{ datiAnagrafici.name }}
	<div class="panel-heading">{{fieldset_characteristics}}</div>
	<div class="panel-body">
		<div class="col-xs-12" ng-show="!datiAnagrafici.inModification">
			<a class="pull-right" ng-click="switchUpdateDatiAnagrafici(true);">
				<i class="glyphicon glyphicon-pencil" style="float: right; color: #777; line-height: 52px;"></i>
			</a>
		</div>
		
		<div class="row" ng-show="datiAnagrafici.inModification">
			<div class="col-xs-6">{{fs_char_name}}: </div>
			<div class="col-xs-6"><input ng-model="datiAnagrafici.name"></input></div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{fs_char_sex}}: </div>
			<div class="col-xs-6">
			<span ng-show="!datiAnagrafici.inModification">{{ sexDescr }}</span>
			<select id="sex" ng-show="datiAnagrafici.inModification" ng-options="sexOption as sexOption.value for sexOption in datiAnagrafici.sexOptions" ng-model="selectedSexOption">
			</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{fs_char_weight}}: </div>
			<div class="col-xs-6">
			<span ng-show="!datiAnagrafici.inModification">{{ weight }}</span>
			<input ng-show="datiAnagrafici.inModification" id="weight" value="{{ weight }}"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{fs_char_age}}: </div>
			<div class="col-xs-6">
			<span ng-show="!datiAnagrafici.inModification">{{ age }}</span>
			<input id="age" ng-show="datiAnagrafici.inModification" value="{{ age }}"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">{{fs_char_height}}: </div>
			<div class="col-xs-6">
			<span ng-show="!datiAnagrafici.inModification">{{ height }}</span>
			<input id="height" ng-show="datiAnagrafici.inModification" value="{{ height }}"></input>
			</div>
		</div>
		<div class="row" ng-show="datiAnagrafici.inModification">
			<div class="col-xs-6"><button ng-click="switchUpdateDatiAnagrafici(false);">{{cancelButton}}</button></div>
			<div class="col-xs-6"><button ng-click="updateDatiAnagrafici();">{{modifyButton}}</button></div>
		</div>
	
	
	
	</div>
	<div ng-show="!showMap" class="panel-heading">{{hints}}</div>
	<div ng-show="!showMap" class="panel-body">
	{{hint}}
	</div>
	<div class="panel-heading">{{healthAction}}</div>
	<div class="panel-body">
	<form>
	<select ng-options="healthOption as healthOption.value for healthOption in healthOptions" ng-model="selectedHealthOption" id="healthActions" ng-change="loadHealthAction();">
		<option></option>
	</select>
	</form>
	{{healthHint}}
	</div>
</div>
</div>